
    .main {
        text-align:center;
    }
    .marq {
        padding-top:30px;
        padding-bottom:30px;
    }
    .news1 {
        font-size:36px;
        font-weight:bold;
        color:white;
        padding-bottom:10px;
    }
